[Service]
Type=simple
ExecStart=/usr/sbin/pppd call %I nodetach
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID

# Limit retries
Restart=on-failure
RestartSec=15
StartLimitIntervalSec=0
StartLimitBurst=3  # <-- exit after 3 fails

# Run a script on failure after limit reached
OnFailure=/usr/local/bin/resetModem.sh

StandardOutput=append:/var/log/ppp-%i.log
StandardError=append:/var/log/ppp-%i.log
