[Unit]
Description=PPP connection for %I
Documentation=man:pppd(8)
StartLimitIntervalSec=0

#debug
#After=network.target
#Wants=network.target

Before=network.target
Wants=network.target
After=network-pre.target

[Service]
Type=simple
#debug
ExecStart=/usr/sbin/pppd call %I debug nodetach
#ExecStart=/usr/sbin/pppd call %I nodetach
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
#debug
#Restart=on-failure
Restart=always
RestartSec=15
#debug
#KillMode=control-group
StandardOutput=append:/var/log/ppp-%i.log
StandardError=append:/var/log/ppp-%i.log

[Install]
WantedBy=multi-user.target
