#/etc/systemd/system
[Unit]
Description=PPP connection for %I
Documentation=man:pppd(8)
StartLimitIntervalSec=0

Before=network.target
Wants=network.target
After=network-pre.target

[Service]
Type=forking
ExecStart=/usr/sbin/pppd call %I
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
